@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

.main{
    display: flex;
    width: 100%;
    height: auto;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}


.sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    width: 270px;
    z-index: 600;
    -webkit-transition:all .5s ease-in-out;
    transition:all .7s ease-in-out;
}

.sidebar .logo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 58px;
    padding: 10px;
    background-color: var(--second-color);
    box-shadow: 0 2px 5px 0 rgba(190, 13, 13, 0.05), 0 2px 10px 0 rgb(0 0 0 / 5%);
    z-index: 600;
}


.sidebar .menu ul li a{
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 4px;
    padding-left: 15px;
    margin-bottom: 3px;
    color: var(--white-color);
    background-color: var(--second-color);
    z-index: 600;
}
.sidebar .menu ul li a i{
    font-size: 22px;
    padding: 8px 5px 8px 0px;
}
.sidebar .menu ul li a span i{
    position: absolute;
    right: 15px;
    padding: 10px 0px;
}

.sidebar .menu ul li a:hover{
    background-color: var(--active-color);
    border-left: 5px solid #12746F;
}

.sidebar .menu ul li a.active{
    background-color: var(--active-color);
   
}

.sidebar .menu ul li a.active::before{
    content: ' ';
    position: absolute;
    top: 12px;
    right: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid var(--white-color); 
}

.sidebar .menu ul .sub-menu .left-menu-dropdown li a{
    padding-top: 10px;
    padding-left: 43px;
}

.sidebar .menu ul .sub-menu .left-menu-dropdown li a:hover{
    background-color: #C14D69;
    border-left: 5px solid #9C0D30;
}


.main-content{
    position: absolute;
    top: 70px;
    left: 270px;
    width: calc(100% - 270px);
    -webkit-transition:all .8s ease-in-out;
    transition:all .8s ease-in-out;
}

.main-content .page-layout{
    padding: 20px;
}


@media (max-width: 991.98px) {
    
    .header{
        overflow: hidden;
    }
    .sidebar-hide{
        opacity: 0;
    }
    .main-content{
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        -webkit-transition:all .8s ease-in-out;
        transition:all .8s ease-in-out;
    }
  
    
}

.header{
    width: 100%;
    height: 70px;
    position: fixed;
    overflow-y: hidden;
    background-color: var(--second-color);
    box-shadow: 0 2px 5px 0 rgba(190, 13, 13, 0.05), 0 2px 10px 0 rgb(0 0 0 / 5%);
    z-index: 600;
}


.header .topbar .bars{
    margin-left: 50px;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}



.header .topbar .topbar-logo h3{
    margin-left: 10px;
    width: 170px;
    overflow: hidden;
    padding: 15px;
    color: var(--white-color);

}
.header .topbar .bars span i{
    font-size: 20px;
    color: var(--white-color);
    padding: 25px 10px 15px 15px;
    cursor: pointer;
}

.header .topbar .bars h4{
    color: var(--white-color);
    font-size: 20px;
    padding: 18px 10px 15px 0px;
}

.header .topbar .search{
    margin: 14px 0px 5px 250px;
    width: 500px;
    height: 40px;
    
}
.header .topbar .search .input-group span,
.header .topbar .search .input-group input{
    box-sizing: border-box;
    border-radius: 50px;
    height: 40px;
}



.hide{
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    margin-left: -999px;
   
}

.show{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;

}


@media (max-width: 991.98px) {
    .header .topbar .topbar-logo h3{
        position: absolute;
        top: 0px;
        left: 20px;
        margin-top: 3px;
        font-size: 25px;
        color: var(--white-color);

    }
  

    .header .topbar .bars{
        margin-left: 0px;
    }

    .header .topbar .bars i{
        font-size: 25px;
        
    }
    .header .topbar .search{
       display: none;
    }
}


.hideMobile{
    position: fixed;
    top: 58px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    width: 270px;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    z-index: 9999;
    opacity: 1;
}


/* 
user panel */



ul.navabr-item{
	display: flex;
}
.dropdown{
	position: relative;
}

.user-profile-dropdown{
	margin-left: 20px;
	margin-right: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-link.user{
	padding: 6px 0px;
	font-size: 25px;
	color: rgba(244, 13, 13, 0.6);
	position: relative;
}


img.icon{
    margin-top: 12px;
	width: 35px;
	height: 35px;
    color: var(--white-color);
}

p.count{
	position: absolute;
	top: 10px;
	font-size: 16px;
	color: var(--white-color);
	background: var(--main-color);
	height: 13px;
	width: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	right: 0px;
}

.profile{
    position: absolute;
    right: 0;
    top: 72px;
    background-color: var(--main-color);
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 0px #ddd;
    z-index: 999999;   
}


.profile .dp-main-menu{
	display: inline-grid;
	width: 100%;
	box-shadow: 0px 4px 20px 0px #ddd;
	border-radius: 5px;
	padding: 0;
}


.profile .dp-main-menu a{
	font-size: 13px;
	color: var(--white-color);
	width: 100%;
	white-space: initial;
	line-height: 13px;
/*	border-bottom: 1px solid #ddd;*/
	align-items: center;
	padding: 10px;
}
.profile .dp-profile{
	padding: 15px 8px;
}
.profile .message-item{
	display: flex;
}

.profile .dp-main-menu .dp-profile{
    background-color: var(--active-color);
    border-radius: 15px 15px 0px 0px;
}

.profile .dp-main-menu a:hover{
    background-color: var(--active-color);
    box-shadow: 2px 0px 5px var(--white-color);
}
.profile .dp-main-menu .dp-profile img {
    width: 60px;
    height: 60px;
}
.profile .error-info-dismis{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.profile .error-notifiy-info{
	line-height: 18px;
}

.profile .error-notifiy-info p{
    color: var(--white-color);
    font-size: 16px;
}

.profile .error-name{
	font-size: 15px;
	font-weight: 500;
}
.profile .error-time{
	color: var(--white-color);
}



.status-link{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: var(--white-color);
}
img.user-error{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

span.user-drop{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 12px;
	font-size: 18px;
	color: var(--white-color);
}

