html, body {
    overflow-x: hidden;
}

nav .breadcrumb .breadcrumb-item a,
nav .breadcrumb .breadcrumb-item{
    font-size: 18px;
    font-weight: 400;
}


/* // content design  */

.card{
    padding:20px;
}

.form .form-label{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form .form-control{
    font-size: 16px;
    padding: 10px;
}

.form .form-select{

    font-size: 16px;
    padding: 10px;

}

/* table design */

.table thead th{
    font-size: 18px;
    padding: 10px;
    font-weight: 400;
    text-align: center;
    background-color: var(--active-color);
    color:var(--white-color);
    padding: 20px 0px;
}

.table tbody tr td{
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    text-align: center;
    
}
.table tbody tr td item{
    justify-items: center;
}
.table tbody tr td img{
    width: 60px;
    height: 60px;
}



/* buttton design css */

.button {
    background-color: #f31142; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    border-radius: 5px;
}

.button:hover{
    background-color: var(--second-active-color);
    color: var(--white-color);
}


.button1 {
    background-color: var(--active-color);
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    border-radius: 5px;
}

.button2{
    border: none;
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin:6px;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.button2:hover{
    background-color: var(--second-active-color);
    color: var(--white-color);
}


